nav{
    display: flex;
    justify-content: center;
    background-color: white;
}

nav a{
    margin: 0 1px;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #ba456a;
}

nav a:hover{
    color: #CCC;
}

.active{
    background-color: #784d5f;
    color: #fff;
}