

.App {
  text-align: center;
  background-color: #784d5f;
  margin: 0px;
}


h1{
  background-color: white;
  color: #784d5f;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.534);
  margin: 0px;
  padding: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em;
}
